* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {


    --hue1: 233;
    --hue2: 300;

    --color-header: hsla(var(--hue1), 17%, 62%, 1);
    --color-header-sm: hsla(var(--hue2), 18%, 79%, 1);
    --color-text: hsla(var(--hue1), 17%, 35%, 1);

    --color-detail: hsla(var(--hue2), 91%, 96%, 1);
    --color-bg: hsl(var(--hue1), 100%, 97%);

    --ff-heading: 'Staatliches', sans-serif;
    --ff-texting: 'Palanquin', sans-serif;

    font-size: 62.5%;
    --fs-heading: 4rem;
    --fs-heading-small: 2rem;
    --fs-texting: 1.4rem;

}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
 
   
    line-height: 2rem;
    



}

.page {
    
    margin: 0 auto 5rem;
}



header {
    background: var(--color-header);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    width: 100vw;
   
  
}

header img {
    padding-bottom: 3.2rem ;


}

.img{
    padding: 3rem 0;
}

h1 {
    background: var(--color-header-sm);
    font-family: var(--font-title);
    font-size: 4rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    font-size: var(--fs-header);
    color: #ffffff;
    font-size: var(--fs-heading);

    letter-spacing: 5%;
    line-height: 3.4rem;
    padding: 1rem 0;
    width: 100vw;
    

}

p {
    padding: 3rem 4rem 3rem;
    text-align: center;
    font-family: var(--ff-texting);
    font-size: var(--fs-texting);
}
main{
    display: grid;
    gap: 3.6rem;
    padding: 0 3rem;
    max-width: 400px;

}



h1,
h2 {
    font-family: var(--ff-heading);
    font-weight: 400;
}

.card {
    position: relative;
    
}

.card span{
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    z-index: 2;

    font-size: var(--fs-heading-small);
    font-weight: 400;
    color: var(--color-text);

    background: var(--color-detail);
    height: 3rem;
    width: 11.2rem;
    border-radius: 2rem;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 0.05rem;

    animation-name: topDown;
    animation-duration: 700ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
   
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
    border-radius: 2.0rem;

    animation-name: downTop;
    animation-duration: 700ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;

   
}


@keyframes downTop {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes topdown {
    0%{
        opacity: 0;
        transform: translateY(-15px);

    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}

